.App {
    text-align: center;
}

.app__form {
    position: fixed;
    bottom: 0;
    background-color: #e9e9eb;
    z-index: 1;
    width: 100%;
    margin: 20px;
    padding: 10px;
}

.app__formControl {
    display: flex !important;
    flex-direction: row !important;
}

.app__input {
    flex: 0.97;
}
.app__iconButton {
    flex: 0;
}
